<form
  class="form-horizontal center-block"
  (ngSubmit)="
    addNote(noteTitle.value, noteTags.value, noteText.value);
    noteTitle.value=''; noteTags.value=''; noteText.value=''
  ">
  <div class="form-group">
    <div class="col-md-6">
      <input #noteTitle
        type="text"
        class="form-control"
        id="note-title"
        placeholder="Note Title"
        required="true">
    </div>

    <div class="col-md-4">
      <input #noteTags
        type="text"
        class="form-control"
        id="note-tags"
        placeholder="Note Tags">
    </div>

    <div class="col-md-2">
      <button
        type="submit"
        class="btn btn-primary pull-right">
        Create note!
      </button>
    </div>
  </div>

  <textarea #noteText
    class="form-control"
    rows="3"
    id="note-text"
    placeholder="Note Text"
    required="true"></textarea>
</form>
