<form class="form-horizontal center-block">
  <div class="form-group">
    <div class="col-md-6">
      <input type="text" class="form-control" id="note-title" placeholder="Note Title" required="true">
    </div>

    <div class="col-md-4">
      <input type="text" class="form-control" id="note-tags" placeholder="Note Tags">
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary pull-right">Create note!</button>
    </div>
  </div>

  <textarea class="form-control" rows="3" id="note-text" placeholder="Note Text" required="true"></textarea>
</form>
