<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline center-block">
      <div class="form-group">
        <input type="text" class="form-control" id="full-search" placeholder="Search note">
      </div>

      <button class="btn btn-primary">Search!</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Filter by tags:</div>
  <ul class="list-group">
    <a
      class="list-group-item"
      *ngFor="let tag of tags"
      (click)="onTagSelect(tag)"
      [ngClass]="{'list-group-item-info':selectedTags.indexOf(tag) > -1}">
      {{tag.name}}
    </a>
  </ul>
</div>
